@using Microsoft.AspNetCore.Identity
@using outDO.Models
@inject UserManager<User> UserManager
@model outDO.Models.Project

<h2>@Model.Name - Administrator View</h2>
<hr />
@{
	var userId = UserManager.GetUserId(User);
}
<a class="btn btn-success mb-3" asp-controller="Project" asp-action="GoBackAdmin">Go Back</a>

<h3>Organisers</h3>

<!--organizatorii proiectului + remove -->
@foreach (var organiser in ViewBag.Organisers)
{
    <p>@organiser.Email @organiser.UserName</p>
    <p><a class="btn btn-dark mb-3" asp-controller="Project" asp-action="RemoveOrganiser" asp-route-id="@Model.Id" asp-route-userId="@organiser.Id">Remove Organiser</a></p>
}


<h3>Members</h3>
<!--afisam toti membrii proiectului + buton de make organiser  + buton de remove member-->
@foreach (var member in ViewBag.Members)
{
    <p>@member.Email @member.UserName</p>
    <p>
        <a class="btn btn-dark mb-3" asp-controller="Project" asp-action="RemoveMember"
           asp-route-id="@Model.Id" asp-route-userId="@userId" asp-route-memberId="@member.Id">Remove Member</a>

        <a class="btn btn-dark mb-3" asp-controller="Project" asp-action="AddOrganiser"
           asp-route-id="@Model.Id" asp-route-userId="@userId" asp-route-memberId="@member.Id">Make Organiser</a>
    </p>
}


<h3>All Users</h3>
<!--si apoi toti membrii din baza de date dupa username....? cu buton de add member si search engine?-->
@foreach (var oneuser in ViewBag.nonMembers)
{
    <p>@oneuser.Email @oneuser.UserName</p>
    <a class="btn btn-dark mb-3" asp-controller="Project" asp-action="AddMember"
       asp-route-id="@Model.Id" asp-route-userId="@userId" asp-route-memberId="@oneuser.Id">Make Project Member</a>
}
