@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

@section Styles {
	<style>
		body {
			background: #1f0547 !important;
		}
	</style>
}


<div class="row d-flex p-2 justify-content-center">
	<h1 style="color:#70d52d !important; font-family:'Courier New'; font-weight:600; letter-spacing:3px">☆ @ViewData["Title"]</h1>
	<div class="border rounded row align-items m-5 mb-2">
		<div class="col-md-4 m-5 col-auto">
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h2 style="color:#F6F6F6 !important">Create a new account.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username123" />
					<label asp-for="Input.UserName">UserName</label>
					<span asp-validation-for="Input.UserName" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">

					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email">Email</label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>

				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.Password">Password</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.ConfirmPassword">Confirm Password</label>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color:#d165e9 !important">Register</button>
				<br />
				<div>
					<br />
					<p>
						<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="color:#70d52d !important">Already have an account?</a>
					</p>
				</div>
			</form>
		</div>
		<div class="col-md-6 col-md-offset-2 m-5 col ">
			<section>
				<h3 style="color:#F6F6F6 !important">Use another service to register.</h3>
				<hr />
				@{
					if ((Model.ExternalLogins?.Count ?? 0) == 0)
					{
						<div>
							<p>
								There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
									article
									about setting up this ASP.NET application to support logging in via external services
								</a>.
							</p>
						</div>
					}
					else
					{
						<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
							<div>
								<p>
									@foreach (var provider in Model.ExternalLogins!)
									{

										<button type="submit" class="btn btn-light border rounded-pill px-4 py-2" style="background-color:#d165e9" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
											@if (provider.Name == "Google")
											{
												<i class="bi bi-google"></i>

												<span>Sign in with Google</span>

											}

										</button>

									}
								</p>
							</div>
						</form>
					}
				}
			</section>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
