@model outDO.Models.Task
<h1>Edit task</h1>
<div class="d-flex justify-content-center">
    <form asp-controller="Task" asp-action="Edit"
          class="col-6 bg-light p-3 rounded"
          enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

        <input type="hidden" asp-for="Id" value="@ViewBag.Task.Id" />
        <input type="hidden" asp-for="BoardId" value="@ViewBag.Task.BoardId" />

        <div class="form-floating mb-3">
            <input asp-for="Title" placeholder="Task Title" class="form-control" value="@ViewBag.Task.Title"/>
            <label asp-for="Title">Task Title</label>
        </div>

        <div class="form-floating mb-3 ">
            <input asp-for="Description" placeholder="Description" class="form-control" value="@ViewBag.Task.Description"></input> 
            <!--initial era textarea insa nu mergea value!-->
            <label asp-for="Description">Description</label>
        </div>

        <div class="form-group">
            <label for="dropdown">Status:</label>
            <select id="dropdown" asp-for="Status" class="form-control"> <!--Deci ca sa imi preia ca lumea a trebuit sa fac cu model-->
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Finished">Finished</option>
            </select>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="Media">Load Image</label>
            <input asp-for="Media" class="form-control" type="file" />
            <span asp-validation-for="Media" class="text-danger"></span>
        </div>
        
        <div class="form-group d-flex justify-content-around mb-3">
            <div class="d-inline-block">
                <label asp-for="DateStart" class="text-muted form-cont">Start Date</label>
                <input type="date" asp-for="DateStart" value="@ViewBag.Task.DateStart.ToString("yyyy-MM-dd")" />
            </div>

            <div class="d-inline-block">
                <label asp-for="DateFinish" class="text-muted">Finish Date</label>
                <input type="date" asp-for="DateFinish" value="@ViewBag.Task.DateFinish.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit Task</button>

    </form>
</div>