@using Microsoft.AspNetCore.Identity
@using outDO.Services
@inject IProjectService ProjectService
@inject UserManager<User> UserManager
@model outDO.Models.Task
<h1>Edit task</h1>
@if (!ProjectService.isUserOrganiserTask(Model.Id, UserManager.GetUserId(User)))
{
    <form asp-controller="Task" asp-action="Edit" class="col-6 bg-light p-3 rounded"
          enctype="multipart/form-data">

        

        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

        <!--pentru toate inafara de status-->
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="BoardId" value="@Model.BoardId" />
        <input type="hidden" asp-for="Title" value="@Model.Title" />
        <input type="hidden" asp-for="Description" value="@Model.Description" />
        <input type="hidden" asp-for="DateStart" value="@Model.DateStart" />
        <input type="hidden" asp-for="DateFinish" value="@Model.DateFinish" />
        <input type="hidden" asp-for="Media" value="@Model.Media" />
        <input type="hidden" asp-for="Video" value="@Model.Video" />
        <input type="hidden" asp-for="TaskMembers" value="@Model.TaskMembers" />




        <div class="form-floating mb-3">
            <h2>@Model.Title</h2>
        </div>

            <div class="form-group">
                <label for="dropdown">Status:</label>
                <select id="dropdown" asp-for="Status" class="form-control">
                    <!--Deci ca sa imi preia ca lumea a trebuit sa fac cu model-->
                    <option value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Finished">Finished</option>
                </select>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Edit Task</button>
        </form>
}
else
{

<div class="d-flex justify-content-center">
    <form asp-controller="Task" asp-action="Edit"

          class="col-6 bg-light p-3 rounded"
          enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="BoardId" value="@Model.BoardId" />

        <div class="form-floating mb-3">
            <input asp-for="Title" placeholder="Task Title" class="form-control" value="@Model.Title"/>
            <label asp-for="Title">Task Title</label>
        </div>

        <div class="form-floating mb-3 ">

                <textarea asp-for="Description" placeholder="Description" class="form-control">@Model.Description</textarea>

            <!--initial era textarea insa nu mergea value!-->
            <label asp-for="Description">Description</label>
        </div>

        <div class="form-group">
            <label for="dropdown">Status:</label>
            <select id="dropdown" asp-for="Status" class="form-control"> <!--Deci ca sa imi preia ca lumea a trebuit sa fac cu model-->
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Finished">Finished</option>
            </select>
        </div>

        <br />


        <div class="form-group">
            <label asp-for="Media">Load Image</label>
            <input asp-for="Media" class="form-control" type="file" />
            <span asp-validation-for="Media" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Video">Youtube Video</label>
            <input asp-for="Video" class="form-control" value="@Model.Video"/>
            <span asp-validation-for="Video" class="text-danger"></span>
        </div>
        

        <div class="form-group d-flex justify-content-around mb-3">
            <div class="d-inline-block">
                <label asp-for="DateStart" class="text-muted form-cont">Start Date</label>
                <input type="date" asp-for="DateStart" value="@Model.DateStart.Value.ToString("yyyy-MM-dd")" />
            </div>

            <div class="d-inline-block">
                <label asp-for="DateFinish" class="text-muted">Finish Date</label>
                <input type="date" asp-for="DateFinish" value="@Model.DateFinish.Value.ToString("yyyy-MM-dd")" />
            </div>
        </div>


        <!--afisam toti membrii asigned proiectului-->
        <div>
            @if (ViewBag.TaskMembers.Count > 0)
            {
                <p>Task Members:</p>
            }
            @foreach (var taskMember in ViewBag.TaskMembers)
            {   <p>
                    <a class="btn btn-dark mb-3" asp-controller="Task" asp-action="RemoveMember"
                       asp-route-id="@Model.Id" asp-route-userId="@taskMember.Id">Unnasign from Task</a>
                    <a>@taskMember.Email @taskMember.UserName</a>
                </p>
            }
        </div>

        <!--afisam restul membrilor proiecxtului-->
        <div>
            @if (ViewBag.ProjectMembers.Count > 0)
            {
				<p>Project Members:</p>
            }
            @foreach (var projectMember in ViewBag.ProjectMembers)
            {   <p>
                    <a class="btn btn-dark mb-3" asp-controller="Task" asp-action="AddMember"
                       asp-route-id="@Model.Id" asp-route-userId="@projectMember.Id">Assign to Task</a>
				    <a>@projectMember.Email @projectMember.UserName</a>
                </p>
            }
        </div>

        <button type="submit" class="btn btn-primary">Edit Task</button>
    </form>
</div>
}