@using Microsoft.AspNetCore.Identity
@using outDO.Services
@inject UserManager<User> UserManager
@inject IProjectService ProjectService
@model outDO.Models.Task
@using outDO.Models

<a class="btn btn-success mb-3" asp-controller="Task" asp-action="GoBack" asp-route-id="@Model.Id">Go Back</a>


<div class="container h-100 d-flex justify-content-center">
    <div class="col-10 justify-content-center bg-light p-3 rounded">
        <h1>@Model.Title</h1>
        <hr />
        <h3>Status</h3>
        <p>@Model.Status</p>
        <h3>Description</h3>
        <p>@Model.Description</p>

        <div class="d-flex justify-content-around">
            <p class="d-inline"><strong>Start date</strong> @Model.DateStart.Value.ToString("dd/MM/yyyy/")</p>
            <p class="d-inline"><strong>Deadline</strong>: @Model.DateFinish.Value.ToString("dd/MM/yyyy/")</p>
        </div>

        <a class="btn btn-warning" asp-controller="Task" asp-action="Edit" asp-route-id="@Model.Id">Edit Task</a>
		@if (ProjectService.isUserOrganiserTask(Model.Id, UserManager.GetUserId(User)))
		{
			<a class="btn btn-danger" asp-controller="Task" asp-action="Delete" asp-route-id="@Model.Id">Delete Task</a>
		}
        <hr />

        <h3 class="mt-5">Comments</h3>
        <form asp-controller="Task" asp-action="Show" asp-route-id="@Model.Id" method="post"
              class="col-6 bg-light p-3 rounded">
            <div>
                <input type="hidden" name="TaskId" value="@Model.Id" />
                <partial name="CommentForm" model="null"/>
            </div>
        </form>
        
        @foreach(var com in ViewBag.comments)
        {
            <div class="card mt-3">
                
                <div class="card-body">
                    <h5>@(com.Item1 + " - " + @com.Item2.Date.ToString("dd/MM/yyyy - HH:MM"))</h5>
                    @com.Item2.Content
                    <!--daca e user-ul poate sa editeze sau sa stearga. si organizatorul poate sa stearga-->
                    @if (ProjectService.isUserOrganiserComment(com.Item2.Id, UserManager.GetUserId(User)))
					{
                        <a>uhmmm</a>
                        <a class="btn" asp-controller="Comment" asp-action="Delete" asp-route-id="@com.Item2.Id"><i class="bi bi-trash3"></i></a>
					}
                    @if (ProjectService.isUsersComment(com.Item2.Id, UserManager.GetUserId(User)))
                    {
                        <a class="btn" asp-controller="Comment" asp-action="Edit" asp-route-id="@com.Item2.Id"><i class="bi bi-pen"></i></a>
                        <a class="btn" asp-controller="Comment" asp-action="Delete" asp-route-id="@com.Item2.Id"><i class="bi bi-trash3"></i></a>
                        <!--heheeee avem iconite i love them-->
                    }
                    
                </div>

                
            </div>
        }
    </div>

</div>
